@model WarsztatApp.Web.Models.Zlecenie

@{
    var przedmioty = ViewBag.Przedmioty as List<WarsztatApp.Web.Models.Przedmiot>;
}

<h2>Dodaj zlecenie</h2>

<form asp-action="DodajZlecenie" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Nazwa"></label>
        <input asp-for="Nazwa" class="form-control" />
        <span asp-validation-for="Nazwa" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Opis"></label>
        <textarea asp-for="Opis" class="form-control"></textarea>
        <span asp-validation-for="Opis" class="text-danger"></span>
    </div>

    <h4>Wybierz typ przedmiotu</h4>

    <select id="typPrzedmiotu" class="form-control mb-4">
        <option value=""> Wybierz typ </option>
        @foreach (var typ in Enum.GetValues(typeof(WarsztatApp.Web.Models.PrzedmiotEnum)))
        {
            <option value="@typ">@typ</option>
        }
    </select>

    <h4>Wybierz przedmioty</h4>
    
    <div id="listaPrzedmiotow">
        @foreach (var p in przedmioty)
        {
            if (p.Ilosc > 0)
            {
                <div class="mb-2 border p-2 rounded" data-typ="@p.typPrzedmiotu" style="display:none;">
                    <input type="checkbox" name="przedmiot_@p.Id" value="true" />
                    <strong>@p.Nazwa</strong><br />
                    <label>Ilość zużyta:</label>
                    <input type="number" name="iloscZuzyta_@p.Id" class="form-control" min="0" />
                </div>
            }
        }
    </div>

    <button type="submit" class="btn btn-primary mt-3">Dodaj zlecenie</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
                document.getElementById('typPrzedmiotu').addEventListener('change', function () {
            var wybranyTyp = this.value;
            var przedmioty = document.querySelectorAll('#listaPrzedmiotow > div');

            przedmioty.forEach(function (przedmiot) {
                if (wybranyTyp !== "" && przedmiot.getAttribute('data-typ') === wybranyTyp) {
                    przedmiot.style.display = 'block';
                } else {
                    przedmiot.style.display = 'none';
                }
            });
        });
    </script>
}
