@model List<WarsztatApp.Web.Models.Zlecenie>

<h2 class="mt-4 mb-4">Historia Zleceń</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nazwa</th>
                <th>Stan Zlecenia</th>
                <th>Data Przyjęcia</th>
                <th>Data Zakończenia</th>
                <th>Cena</th>
                <th>Usuń</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nazwa</td>
                    <td>@item.stanZleceniaEnum</td>
                    <td>@item.DataPrzyjecią?.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@item.DataZakończenia?.ToString("dd.MM.yyyy HH:mm")</td>
                    <td>@item.Cena?.ToString("0.00") zł</td>
                    <td>
                        <form asp-action="Usun" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Czy na pewno chcesz usunąć to zlecenie?');">
                            <button type="submit" class="btn btn-sm btn-outline-danger">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
