@using System.Reflection
@using System.ComponentModel.DataAnnotations
@model WarsztatApp.Web.Models.Warsztat

<div class="row g-4">
    <div class="col-md-6">
        <div class="card text-white bg-primary">
            <div class="card-body">
                <h5 class="card-title">Dodaj Przedmiot</h5>
                <p class="card-text">Dodaj Przedmioty do magazynu</p>
                <a href="@Url.Action("DodajPrzedmiot", "Warsztat")" class="btn btn-light">Przejdź</a>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card text-white bg-success">
            <div class="card-body">
                <h5 class="card-title">Magazyn</h5>
                <p class="card-text">Zarządzaj częściami</p>
                <a href="@Url.Action("Magazyn", "Warsztat")" class="btn btn-light">Przejdź</a>
            </div>
        </div>
    </div>
</div>

<hr class="my-4" />

<h3 class="mb-3">Twoje Zlecenia:</h3>

<ul class="list-group">
    @foreach (var zlecenie in Model.Zlecenia)
    {
        if (zlecenie.stanZleceniaEnum!=StanZleceniaEnum.Zakończone)
        {
        <li style="cursor: pointer;" class="list-group-item d-flex justify-content-between align-items-center card-hover" onclick="location.href='@Url.Action("Edytuj","Warsztat",new {id= zlecenie.Id})'">
            <div>
                <h5 class="mb-1">@zlecenie.Nazwa</h5>
                    <small>Status: @GetDisplayName(zlecenie.stanZleceniaEnum) | Data: @zlecenie.DataPrzyjecią?.ToString("dd.MM.yyyy HH:mm")</small>
                </div>
            <div>
                <a asp-action="Edytuj" asp-route-id="@zlecenie.Id" class="btn btn-sm btn-outline-primary me-2">Edytuj</a>

                <form asp-action="Usun" asp-route-id="@zlecenie.Id" method="post" style="display:inline;">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Usuń</button>
                </form>
            </div>
        </li>
        }
    }
</ul>
@functions {
    public static string GetDisplayName(Enum enumValue)
    {
        return enumValue.GetType()
            .GetMember(enumValue.ToString())
            .First()
            .GetCustomAttribute<DisplayAttribute>()?
            .GetName() ?? enumValue.ToString();
    }
}