@model WarsztatApp.Web.Models.Warsztat
@{
}
<p>Zleceń: @(Model.Zlecenia?.Count ?? 0)</p>
<h1>@Model.Nazwa przejdz do magazunu <a asp-controller="Warsztat" asp-action="Magazyn">Magazyn</a></h1>
<h2>Zlecenia:</h2>
<table>
    <thead>
        <tr>
            
            <th>
                Nazwa
            </th>
            <th>
                stanZleceniaEnum
            </th>
            <th>
                DataPrzyjecią
            </th>
            <th>
                Edytuj
            </th>
            <th>
             </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Zlecenia) {
            if(item.stanZleceniaEnum!=StanZleceniaEnum.Zakończone)
            {
            <tr>
                
                <th>
                    @item.Nazwa
                </th>
                <th>
                    @item.stanZleceniaEnum
                </th>
                <th>
                    @item.DataPrzyjecią
                </th>
                <th>
                    <a asp-action="Edytuj" asp-route-id="@item.Id">Edytuj</a>
                    
                    <span>(ID: @item.Id)</span>
                </th>
                <th>
                    <form asp-action="Usun" asp-route-id="@item.Id" method="post">
                            <button type="submit">Usuń</button>
                    </form>
                    
                </th>
            </tr>
            }
        }
    </tbody>
    
</table>